//radius
$radius: 4px;

//color
$code-bg: #282c35;
$text-color: #d3d3d3;
$articleBgColor: #000;
$descript: #dadada;
$text: silver;

// size
$font-size-title: 2rem;
$font-size-base: 14px;
$font-size-large: 1.6rem;
$font-size-small: .85rem;
